.pessoa__imagem{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-repeat: no-repeat; /* Para a imagem não repetir */
    background-size: contain; /* Ajusta a imagem para caber completamente no espaço alocado */
    background-position: center;
    border-radius: 10%; /* Mantém o formato circular */
}

.pessoa__imagem--roberta{
    background-image: url(../../img/pessoas/roberta.jpg);
}

.pessoa__imagem--marcelo{
    background-image: url(../../img/pessoas/marcelo.jpg);
}

.pessoa__imagem--fernando{
    background-image: url(../../img/pessoas/fernando.jpg);
}

