.kits {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha, se necessário */
    justify-content: center; /* Centraliza os kits horizontalmente */
    align-items: flex-start; /* Alinha os kits ao topo */
    gap: 20px; /* Espaçamento entre os kits */
    padding: 3rem 0;
    margin: 0 auto; /* Centraliza o contêiner na página */
    text-align: center;
}

